<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Username:</strong>
  <%= @message.username %>
</p>

<p>
  <strong>Date Created:</strong>
  <%=time_ago_in_words(@message.created_at)%> ago
</p>
